.buttonCheck {
    text-align: center;
    background-color: rgba(127, 60, 133, 0.671);
    color: white;
    border-radius: 20%;
    border-color: rgba(127, 60, 133, 0.671);
    cursor: pointer;
    min-height: 40px;
    min-width: 100px;
    text-align: center;
    font-size: 1em;
}

.Card {
    width: 13vw;
    height: 30vh;
    background-color: aliceblue;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}

.containercard {
    margin-top: 3%;
    margin-left: 3%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.wordStyle {
    font-size: 2em;
    font-weight: 900;
}

.transcriptionStyle {
    font-size: 1.3em;
    color: grey;
}

.visibility {
    visibility: visible;
}

.nextprevbtn {
    height: 5vh;
    width: 10vw;
    background-color: blueviolet;
    color: aliceblue;
    font-style: italic;
    border-radius: 10%;
    border: blueviolet;
    cursor: pointer;
    margin-top: 20%;
}

.nextprevbtn:hover {
    background-color: aqua;
}

.next {
    justify-self: start;
}

.prev {
    justify-self: end;
}

.newGame {
    background-color: rgb(46, 179, 46);
    grid-row: 1;
    grid-column: 3;
}

.btnCardsLengthEnd {
    background-color: gray;
    height: 5vh;
    width: 10vw;
    color: aliceblue;
    font-style: italic;
    border-radius: 10%;
    border: gray;
    cursor: context-menu;
    margin-top: 20%;
    grid-row: 1;
    grid-column: 3;
}